.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowContent{
    display: flex;
    flex-direction: row;
}

#background {
    display: flex;
    flex-direction: column;
    width : 1500px;
}

div .scheduleButton {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height: 50px;
    margin: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(212, 212, 212, 0.69);
    border-radius: 16px;
    transition: 0.2s ease-out;
}

div .scheduleButton:hover {
    transform:scale(1.1); 
}

.dayColor {
    color: rgb(29, 29, 29);
    background-color: rgba(65, 154, 255, 0.69);
}
.nightColor{
    color: rgb(29, 29, 29);
    background-color: rgba(236, 255, 65, 0.69);
}
.offColor{
    color: rgb(29, 29, 29);
    background-color: rgba(255, 111, 106, 0.69);
}
.allColor{
    color: rgb(236, 236, 236);
    background-color: rgba(29, 29, 29, 0.69);
}
.vacationColor{
    color: rgb(29, 29, 29);
    background-color: rgba(189, 189, 189, 0.69);
}
.selectedBorder{
    border-color: rgb(0, 102, 255);
    border-width: 5px;
}
.triangle-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 20px solid rgb(29, 29, 29);
	border-bottom: 10px solid transparent;
    margin-right: 20px;
}
.triangle-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 20px solid rgb(29, 29, 29);
	border-bottom: 10px solid transparent;
    margin-left: 20px;
}